<div class="container" id="show-container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
      <h1 class="mt-4"><%= @post.title %></h1>
      <p id="post-date">
        Posted on <%= @post.created_at.strftime("%B %d %Y") %>
      </p>
      <hr>
      <%= simple_format @post.body %>
      <hr>
      <%= render 'tag_list', tags: @post.tags %>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <%= render 'shared/search-box' %>
      <!-- Categories Widget -->
      <%= render 'categories' %>
      <!-- Side Widget -->
      <%= render 'sidebar' %>
    </div>

  </div><!-- /.row -->
</div><!-- /.container -->
